.ErrorMessage {
    color: red;
}

div {
    /*border:1px solid blue;*/
}

.PageTitle {
    font-size: large;
    font-weight:bold;
}

.SectionTitle {
    padding-top: 15px;
    font-size: medium;
    font-weight:bold;
    margin-bottom: 1em;
}

div.workingarea 
{
    margin-left: auto;
    margin-right: auto;
    /*border:1px solid red;*/
    width:800px;
}

.editor-label
{
    /*border:1px solid blue;*/
    clear:both;
    float:left;
    width:200px;
    margin:0.5em 1em 0 0;
    /*font-weight:bold;*/
    text-align:right;
    display:inline-block;
}

.display-text
{
    display:inline-block;
    margin:0.5em 1em 0 0;
    min-height:1.5em;
}

.editor-field, .display-field 
{
    /*border:1px solid blue;*/
    margin:0.5em 0 0 0;   
    min-height:1.5em;
}

.required input:after { content:"*"; }

.required p:before {
    color: #e32;
    content: ' * ';
    display:inline;
}

.button {
    width:75px;
}

.long-field 
{
    margin:0.5em 0 0 0;   
    min-height:1.5em;
    width : 600px;
}

.hidden {
    display:none;   
}